<div class="backdrop"></div>
<header class="main-header">
  <button id="side-menu-toggle">Menu</button>
  <nav class="main-header__nav">
    <ul class="main-header__item-list">
      <% if (isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/cart' ? 'active' : '' %>" href="/invoices-list"
          >Invoices</a
        >
      </li>
      <% if (isAdmin) { %>

      <li class="main-header__item">
        <a
          class="<%= path === '/add-invoice' ? 'active' : '' %>"
          href="/add-invoice"
          >Add Invoice</a
        >
      </li>
      <li class="main-header__item">
        <a
          class="<%= path === '/admin/add-user' ? 'active' : '' %>"
          href="/admin/add-user"
          >ADD User
        </a>
      </li>

      <% } %> <% } %>
    </ul>
    <ul class="main-header__item-list">
      <% if (!isAuthenticated) { %>
      <li class="main-header__item">
        <a class="<%= path === '/login' ? 'active' : '' %>" href="/">Login</a>
      </li>

      <% } else { %>
      <li class="main-header__item">
        <form action="/logout" method="post">
          <button type="submit">Logout</button>
        </form>
      </li>
      <% } %>
    </ul>
  </nav>
</header>

<nav class="mobile-nav">
  <ul class="mobile-nav__item-list">
    <% if (isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/cart' ? 'active' : '' %>" href="/invoices-list"
        >Invoices</a
      >
    </li>
    <% if (isAdmin) { %>

    <li class="mobile-nav__item">
      <a
        class="<%= path === '/add-invoice' ? 'active' : '' %>"
        href="/add-invoice"
        >Add Invoice</a
      >
    </li>
    <li class="mobile-nav__item">
      <a
        class="<%= path === '/admin/add-product' ? 'active' : '' %>"
        href="/admin/add-user"
        >ADD USER
      </a>
    </li>
    <% } %> <% } %> <% if (!isAuthenticated) { %>
    <li class="mobile-nav__item">
      <a class="<%= path === '/login' ? 'active' : '' %>" href="/">Login</a>
    </li>

    <% } else { %>
    <li class="mobile-nav__item">
      <form action="/logout" method="post">
        <button type="submit">Logout</button>
      </form>
    </li>
    <% } %>
  </ul>
</nav>
