<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/auth.css">
</head>

<body>
    <%- include('../includes/navigation.ejs') %>

    <main>
        <% if (errorMessage) { %>
            <div class="user-message user-message--error"><%= errorMessage %></div>
        <% } %>
        <form class="login-form" action="/add-invoice" method="POST">
            <div class="form-control">
                <label for="email">FROM</label>
                <input list="emails" name="from" id="email">
                <datalist id="emails">
                    <% for(el of emails){%>
                        <option value="<%=el%>">
                        <%}%>
                  </datalist>
            </div>
            <div class="form-control">
                <label for="email1">To</label>
                <input list="emails1" name="to" id="email1">
                <datalist id="emails1">
                    <% for(el of emails){%>
                        <option value="<%=el%>">
                        <%}%>
                  </datalist>
                  </div>
            <div class="form-control">
              <label for="us">US</label>
              <input 
                  class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                  type="text" 
                  name="us" 
                  id="us" 
                  value="">
          </div>
          <div class="form-control">
            <label for="fr">Frank</label>
            <input 
                class="<%= validationErrors.find(e => e.param === 'password') ? 'invalid' : '' %>"
                type="text" 
                name="fr" 
                id="fr" 
                value="">
        </div>
            
            <button class="btn" type="submit">Add Invoice</button>
        </form>
       
    </main>
<%- include('../includes/end.ejs') %>